# Env files
.env
*.env
backend/.env
frontend/.env
*.env.local
*.env.*.local

# Dependencies
node_modules/
__pycache__/
*.pyc
venv/
env/
.venv/
.gemini/

# Build outputs
dist/
build/
.next/
out/
*.log

# DB
*.db
*.sqlite3

# Binaries
*.exe

# Generated data
backend/nfts/*
!backend/nfts/.gitkeep
backend/media_storage/*
!backend/media_storage/.gitkeep

